* {
  box-sizing: border-box;
  background-color: darkgrey;
}

#container {
  /* display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: 90%;
  row-gap: 0px;
  margin: 0 auto;
}
.canvasItem {
  flex-basis: 6.25%;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid red;
}

.colored {
  background-color: black;
}

#resetCanvasBtn {
  width: fit-content;
  min-height: 30px;
  background-color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0 20px 100px;
  padding: 5px;
}
